<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   liferay-server-context.plist
   LiferayScreensThemeLoginPacifico

   Created by Everis on 19/02/19.
   Copyright (c) 2019 JJgarcia. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>server</key>
        <string>http://192.168.173.1:8081</string>
        <key>version</key>
        <integer>70</integer>
        <key>companyId</key>
        <real>20099</real>
        <key>groupId</key>
        <real>20126</real>
        <key>New item</key>
        <string></string>
    </dict>
</plist>
